h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#your-score {
  text-align: center;

}

#comp-score {
  text-align: center;

}

#btn-row {
  text-align: center;
};

#round {
  text-align: center;
}

.row-directions {
  text-align: center;
}


#btn-row { 
  margin: 0 auto; 
  width: 180px; 
}


#user-rock-icon{
  

  visibility: hidden;
}

#comp-rock-icon{
  

  visibility: hidden;
}

#user-paper-icon{
  

  visibility: hidden;
}

#comp-paper-icon{
  

  visibility: hidden;
}

#user-scissors-icon{
  

  visibility: hidden;
}

#comp-scissors-icon{
  

  visibility: hidden;
}

